/* -----------------------------------------------
Layout 1001: Screen Styles
----------------------------------------------- */

body {
	margin: 0;
	padding: 0;
}

.altcolor {
	background-color: #dadada;
}


/* Container */

div#container {
	margin: 0 auto;
	width: 878px;
	background-image: url(../img/1001-container_bg.gif);
	background-repeat: repeat-y;
	background-position: 180px 0;
}


/* Header */

div#header {
	position: relative;
	padding-bottom: 20px;
	background: #fff;
	zoom: 1;
}
div#header_wrapper {
	padding-top: 20px;
}

div#emotion-header {
	position: relative;
}
div#emotion-header strong#emotion-header-title {
	position: absolute;
	top: 0;
	left: 0;
}


/* Content */

div#content {
	width: 680px;
	float: right;
	background: #fff;
}
div#content div.gutter {
	padding: 0px 0px 60px 0px;
}


/* "Style": Schriftart und Größe            */
/* ------------------------------------------- 
  ACHTUNG: Regeln hier heben die Einstellungen
            unter "Style" in MyWebsite auf!
------------------------------------------- */

/* Text */
.diyw, .diyw p {
	font: normal 16px/120% Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: justify;  // <<<<<<<<<<<<<<<<<<<<<<<
}
/* Überschrift 1 */
.diyw h1 {
	font: bold 25px/140% Arial, Helvetica, sans-serif;
	color: #333333;
}
/* Überschrift 2 */
.diyw h2 {
	font: bold 17px/140% Arial, Helvetica, sans-serif;
	color: #333333;
}
/* Linkfarbe */
.diyw a, .diyw p a {
	color: #0325bc;
}
.diyw a:visited, .diyw p a:visited {
	color: #0000ff;
}



/* Sidebar */

div#sidebar {
	width: 170px;
	float: left;
	padding: 0 0 40px 0;
}

div#jimdobox {
	margin-bottom: 20px;
}


/* Navigation */

div#navigation {
	margin: 0 0 20px;
	padding: 0 0 30px;
	//background: url(../img/1001-navigation_bg.gif) repeat-x 0 100%;
}

ul.mainNav1 {
	margin: 0;
	padding: 1px 0 0;
	list-style: none;
	//background: url(../img/1001-dots.gif) repeat-x;
}
ul.mainNav1 li {
	//width: 239px;
}
ul.mainNav1 li a {
	font-weight: bold;
	display: block;
	padding: 5px 10px 5px 1px;
	//background: url(../img/1001-dots.gif) repeat-x 0 100%;
	background-color: #fff !important;
	text-align: right;  // <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
	text-decoration: none;
}
ul.mainNav1 li a:hover, ul.mainNav1 li a.current {
	background: transparent !important;
	color: #000;
}
ul.mainNav2 {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.mainNav2 li a {
	padding: 5px 20px 5px 10px;
}
ul.mainNav3 {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.mainNav3 li a {
	padding: 5px 40px 5px 10px;
}

div#sidebar_content {
	margin: 0 0 20px;
	padding: 0 20px;
}


/* Footer */

div#footer {
	width: 700px;
	margin-left: 180px;
}
div#footer div.gutter {
	background: url(../img/1001-dots.gif) repeat-x;
	background-color: #fff;
	float: left;
	width: 660px;
	padding: 10px 20px;
}

br.c {
	display: block;
}